<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DynamicMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GLFWApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GLFWwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Immediate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ImmediateTriangles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LightingAndTexture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ModelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>TextureLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TriangleBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TriangleColorBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>TriangleOrtho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>accuracy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>fsaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>modes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00692EAF49C542B1A204B7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01445CF7BB7145DB91C1DF0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B01C1A65434FB1805F185C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CF41432A98C472689483EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D1802FD9A9C4EBB8E65CD4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3225057CE1E849D8AB4448C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32DA125322F34200B8299AE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41D21825F30946F981377358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42EE7DE6F67D4AA1A64EF54A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431B2CE436C2438CB2905928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4700F093F0E8406493572AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52184758E30244E0B6B8524A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58933661DFCB47DF89FBE04B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF04D6E5FBE48A290F16B4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68B5BD203A7F4E94A5C2F1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74773835FE42405EA9E90DB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75C5A9F416114912996CF46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849E2D29F54B4604A2A7730B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC0FA0EFE5449D7AC67326C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CBF995E56CB4F3BAF118930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A09F602A8EE84177B0AF481E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4F2C52096F744999597B1FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7578DFA211D4D68A4E4A2CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8058FE787C74D04B7C042AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC07C01E87C34F58AB5E36B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9678C900B3F4E73B9EA3EF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD639E4834A4D9BBB802684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB8F34D8441B4B74A71778EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D772BD3BA11944AA93D4AF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D90090F741E24CF5ABD4DBCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFD6FD43B3434E2AA7D6AD6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7151201F9B140FB89F000AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA5E0C35A3164EFD8382BAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE5ADC62CC034D21B85CAB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE633E42243F4AACB4DFC0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F12D81A2357D4156AE2F7A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3BF0C946EEF4AAD80AD6BA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E0AC9EA4CB4DDE8B3DA217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB72CCA45D0B4A98AE31C3B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE76DCB5F65C468481F21FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2D35F57EB8473AB3477E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
